<template>
  <table
    class="min-w-full divide-y divide-gray-200 overflow-x-scroll"
    v-if="turns.length"
  >
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-1 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
        ></th>
        <th
          v-for="turn in turnsWithUsers"
          :key="turn.id"
          scope="col"
          class="px-1 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          {{ turn.date }}
        </th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500"></div>
        </td>
        <td
          v-for="turn in turnsWithUsers"
          :key="turn.id"
          class="px-6 py-4 whitespace-nowrap"
        >
          <div class="text-sm text-gray-500 text-center">
            <p
              v-for="user in turn.users"
              :key="user.id"
              class="text-black font-bold"
            >
              {{ user.firstName }} {{ user.lastName }}
            </p>

            <p>{{ turn.turnTemplate ? turn.turnTemplate.name : "" }}</p>
            <p>
              {{
                turn.turnTemplate
                  ? `(${turn.turnTemplate.checkIn}-${turn.turnTemplate.checkOut})`
                  : ""
              }}
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "AssignedTurns",
  props: {
    turns: {
      type: Array,
      require: true,
    },
  },
  computed: {
    ...mapGetters("Users", ["userDataById"]),
    turnsWithUsers() {
      const { turns, userDataById } = this;
      return turns.map((turn) => {
        turn.users = turn.userId.map((uid) => userDataById(uid));
        return turn;
      });
    },
  },
};
</script>

<style></style>
