<template>
  <table class="min-w-full divide-y divide-gray-200" v-if="locations">
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Horario
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Dirección
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          N° Usuarios
        </th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
      <tr v-for="location in locations" :key="location.id">
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="flex items-center">
            <div class="ml-4">
              <div class="text-sm font-medium text-gray-900">
                {{ location.name }}
              </div>
            </div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="flex items-center">
            <div class="ml-4">
              <div class="text-sm text-gray-900">
                {{ location.startTime }} - {{ location.endTime }}
              </div>
            </div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ fullAdress(location) }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ usersByLocation(location.id) }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "LocationsTable",
  computed: {
    ...mapState("Users", ["userList"]),
    ...mapState("Locations", ["locationList"]),
    locations() {
      const { locationList: locations } = this;
      return locations
        .sort((a, b) =>
          a.name.normalize("NFD") > b.name.normalize("NFD")
            ? 1
            : b.name.normalize("NFD") > a.name.normalize("NFD")
            ? -1
            : 0
        )
        .reverse();
    },
  },
  methods: {
    fullAdress(location) {
      const { address1, address2, commune, region } = location;
      return `${address1}${
        address2 ? `, ${address2}` : ""
      }, ${commune}, ${region}`;
    },
    usersByLocation(locationId) {
      const { userList: users } = this;
      const usersByLocation = [];
      users.forEach((user) => {
        user.locationId.forEach((loc) => {
          if (loc === locationId) {
            usersByLocation.push(loc);
          }
        });
      });
      return usersByLocation.length;
    },
  },
};
</script>

<style></style>
