<template>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Hora entrada
        </th>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Hora salida
        </th>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Descanso (min)
        </th>

        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Horas trabajadas (h)
        </th>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Cargo
        </th>
        <th
          scope="col"
          class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Sucursales
        </th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
      <tr v-for="turn in turns" :key="turn.id">
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ turn.name }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ turn.checkIn }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ turn.checkOut }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ turn.breakTime }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ hoursWorked(turn) }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ positionName(turn.positionId) }}
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">
            {{ getLocationName(turn.locationId) }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";
export default {
  name: "TurnTemplatesTable",
  computed: {
    ...mapState("Positions", ["positionList"]),
    ...mapState("Locations", ["locationList"]),
    ...mapState("TurnTemplates", ["turnTemplatesList"]),
    turns() {
      return this.turnTemplatesList;
    },
  },
  methods: {
    positionName(positionId) {
      return this.positionList.find((p) => p.id === positionId).name;
    },
    getLocationName(locationId) {
      const locations = [];
      locationId.forEach((id) => {
        locations.push(this.locationList.find((p) => p.id === id));
      });
      return locations.length
        ? locations.map((p) => ` ${p.name}`).toString()
        : "-No hay sucursales con este turno-";
    },
    hoursWorked(turn) {
      const { checkIn, checkOut } = turn;
      const start = moment(checkIn, "HH:mm");
      const end = moment(checkOut, "HH:mm");
      const duration = moment.duration(end.diff(start)).asHours();
      return duration;
    },
  },
};
</script>

<style lang="scss" scoped></style>
