<template>
  <table
    class="min-w-full divide-y divide-gray-200 overflow-x-scroll"
    v-if="turns.length"
  >
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-1 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
        ></th>
        <th
          v-for="turn in turns"
          :key="turn.id"
          scope="col"
          class="px-1 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          {{ turn.date }}
        </th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-500">Turnos no asignados</div>
        </td>
        <td
          v-for="turn in turns"
          :key="turn.id"
          class="px-6 py-4 whitespace-nowrap"
        >
          <div class="text-sm text-gray-500 text-center">
            <p>{{ turn.turnTemplate ? turn.turnTemplate.name : "" }}</p>
            <p>
              {{
                turn.turnTemplate
                  ? `(${turn.turnTemplate.checkIn}-${turn.turnTemplate.checkOut})`
                  : ""
              }}
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "UnassignedTurns",
  props: {
    turns: {
      type: Array,
      require: true,
    },
  },
};
</script>

<style></style>
