<template>
  <div v-if="users != []">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th scope="col">
            <CreateUserForm
              :editMode="isEditing"
              :userToEdit="userToEdit"
              @close="closeEditForm"
            />
          </th>
        </tr>
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Nombre y correo electrónico
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            N° Identificación
          </th>

          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Sucursal
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Cargo(s)
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Horas/Semana
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr v-for="user in users" :key="user.email">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10" v-if="user.avatarUrl">
                <img
                  class="h-10 w-10 rounded-full"
                  :src="user.avatarUrl"
                  :alt="`${user.firstName} ${user.lastName} avatar`"
                />
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{ user.firstName }} {{ user.lastName }}
                </div>
                <div class="text-sm text-gray-500">
                  {{ user.email }}
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{ user.employeeId }}
                </div>
              </div>
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">
              {{ getLocationName(user.locationId) }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">
              {{ positionByUser(user.positionId) }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            {{ getHoursPerWeek(user.contract) }}
          </td>
          <td
            class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
          >
            <a
              @click="editUser(user)"
              href="#"
              class="text-indigo-600 hover:text-indigo-900"
            >
              <v-btn fab x-small>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </a>
          </td>
          <td
            class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
          >
            <a
              @click="deleteUser(user)"
              href="#"
              class="text-indigo-600 hover:text-indigo-900"
            >
              <v-btn fab x-small>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import CreateUserForm from "@/components/CreateUserForm";
import { mapActions, mapState } from "vuex";

export default {
  name: "UsersTable",
  components: { CreateUserForm },
  data() {
    return {
      isEditing: false,
      userToEdit: {},
    };
  },
  computed: {
    ...mapState("Users", ["userList"]),
    ...mapState("Locations", ["locationList"]),
    ...mapState("Positions", ["positionList"]),
    ...mapState("Contracts", ["contractList"]),
    users() {
      const { userList: users } = this;
      return users
        ? users.sort((a, b) =>
            a.employeeId > b.employeeId
              ? 1
              : b.employeeId > a.employeeId
              ? -1
              : 0
          )
        : [];
    },
  },
  methods: {
    ...mapActions("Users", ["DELETE_USER"]),
    getLocationName(locationId) {
      const locations = [];
      locationId.forEach((id) => {
        locations.push(this.locationList.find((p) => p.id === id));
      });
      return locations.map((p) => p.name).toString();
    },
    positionByUser(positionId) {
      const positions = [];
      positionId.forEach((id) => {
        positions.push(this.positionList.find((p) => p.id === id));
      });
      return positions.map((p) => p.name).toString();
    },
    getHoursPerWeek(userContract) {
      const contract = this.contractList.find((c) => c.id === userContract);
      return contract.legalMaxWeeklyHours;
    },
    editUser(user) {
      this.isEditing = true;
      this.userToEdit = user;
    },
    deleteUser(user) {
      let confirmarEliminación = confirm(
        `Desde eliminar el usuario ${user.firstName} ${user.lastName}`
      );

      confirmarEliminación ? this.DELETE_USER(user.id) : alert("No eliminar");
    },
    closeEditForm() {
      this.isEditing = false;
      this.userToEdit = {};
    },
  },
};
</script>

<style></style>
