<template>
  <div id="Calendar" class="container">
    <div class="bg-gray-200 rounded-md p-3 mx-auto">
      <h1 class="text-2xl text-gray-800 mb-10">{{ title }}</h1>
      <!-- <div class="flex flex-col space-y-10">
        <div class="w-full text-center text-gray-600 font-bold text-lg">
          <p>Ejemplo de Tabla 1 Turnos No Asignados</p>
          <img
            src="../assets/turnos-no-asignados.png"
            alt="imagen ejemplo de turnos no asignados"
          />
        </div> -->
      <div v-if="turns" class="overflow-x-scroll mb-4">
        <h3>No asignados</h3>
        <UnassignedTurns :turns="unassignedTurns" />
      </div>
      <div v-if="turns" class="overflow-x-scroll">
        <h4>Asignados</h4>
        <AssignedTurns :turns="assignedTurns" />
      </div>
      <!-- <div class="w-full text-center text-blue-500 font-bold text-lg">
        <p>Ejemplo de Tabla 2 Turnos Asignados</p>
        <img
          src="../assets/turnos-asignados.png"
          alt="imagen ejemplo de turnos asignados"
        />
      </div> -->
    </div>
  </div>
</template>

<script>
import UnassignedTurns from "@/components/Tables/UnassignedTurns";
import AssignedTurns from "@/components/Tables/AssignedTurns";
import { mapGetters, mapState } from "vuex";
import moment from "moment";

export default {
  name: "Calendar",
  components: { UnassignedTurns, AssignedTurns },
  data() {
    return {
      title: "Turnos",
    };
  },
  computed: {
    ...mapState("Turns", ["turnList"]),
    ...mapGetters("TurnTemplates", ["turnTemplateById"]),
    turns() {
      const { turnList, turnTemplateById } = this;
      const turnListWithTurnTemplate = turnList.map((turn) => {
        turn.turnTemplate = turnTemplateById(turn.turnTemplateId);
        return turn;
      });
      const sortedByDate = turnListWithTurnTemplate.sort((a, b) => {
        return moment(
          a.turnTemplate ? `${a.date} ${a.turnTemplate.checkIn}` : a.date
        ).isBefore(
          moment(
            b.turnTemplate ? `${b.date} ${b.turnTemplate.checkIn}` : b.date
          )
        )
          ? -1
          : 1;
      });

      return sortedByDate ? sortedByDate : [];
    },
    turnDates() {
      const dates = this.turns.map((t) => t.date);
      const withoutDuplicates = new Set(dates);
      return withoutDuplicates;
    },
    maxSlots() {
      const maxSlots = this.turns.map((t) => t.maxSlots);
      const higherValue = Math.max(...maxSlots);
      return higherValue;
    },
    unassignedTurns() {
      const unassignedTurns = this.turns.filter(
        (turn) => turn.userId.length < turn.maxSlots
      );

      return unassignedTurns;
    },
    assignedTurns() {
      const assignedTurns = this.turns.filter(
        (turn) => turn.userId.length == turn.maxSlots
      );

      return assignedTurns;
    },
  },
};
</script>

<style scoped>
#Calendar {
  max-width: 100%;
}
</style>
