<template>
  <div>
    <h1 class="text-3xl text-indigo-500 mb-10">{{ title }}</h1>
    <div>
      <p><router-link :to="{ name: 'Users' }">Ir a usuarios</router-link></p>
      <p>
        <router-link :to="{ name: 'Locations' }">Ir a sucursales</router-link>
      </p>
      <p>
        <router-link :to="{ name: 'TurnTemplates' }">Ir a turnos</router-link>
      </p>
      <p>
        <router-link :to="{ name: 'Calendar' }">Ir a calendario </router-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Vista Principal",
    };
  },
};
</script>
