<template>
  <div>
    <h1 class="text-2xl text-purple-600 mb-10">{{ title }}</h1>
    <LocationsTable />
  </div>
</template>

<script>
import LocationsTable from "@/components/Tables/LocationsTable";
export default {
  name: "Locations",
  components: {
    LocationsTable,
  },
  data() {
    return {
      title: "Sucursales",
    };
  },
};
</script>
