<template>
  <div>
    <h1 class="text-2xl text-green-500 mb-10">{{ title }}</h1>
    <TurnTemplatesTable />
  </div>
</template>

<script>
import TurnTemplatesTable from "@/components/Tables/TurnTemplatesTable";
export default {
  components: { TurnTemplatesTable },
  data() {
    return {
      title: "Plantillas",
    };
  },
};
</script>
