<template>
  <div>
    <h1 class="text-2xl text-red-400 mb-10">{{ title }}</h1>
    <UsersTable />
  </div>
</template>

<script>
import UsersTable from "@/components/Tables/UsersTable";
export default {
  name: "Users",
  components: { UsersTable },
  data() {
    return {
      title: "Vista de Usuarios",
    };
  },
};
</script>
