<template>
  <div>
    <div v-if="creationMode || editMode">
      <v-text-field v-model="user.id" label="id" outlined dense type="number" />
      <v-text-field
        v-model="user.email"
        label="email"
        type="email"
        outlined
        dense
      />
      <v-text-field v-model="user.firstName" label="Nombre" outlined dense />
      <v-text-field v-model="user.lastName" label="Apellido" outlined dense />
      <v-text-field
        v-model="user.dateOfBirth"
        label="Fecha de nacimiento"
        placeholder="YYYY-MM-DD"
        outlined
        dense
      />
      <v-text-field
        v-model="user.employeeId"
        label="N° identificación"
        placeholder="12.345.678-9"
        outlined
        dense
      />
      <v-text-field
        v-model="user.contract"
        label="Contrato"
        outlined
        dense
        type="number"
      />
      <v-btn @click="editUser" v-if="editMode">Confirmar edición</v-btn>
      <v-btn @click="createUser" v-else>Crear Usuario</v-btn>
      <v-btn @click="closeForm">Cancelar</v-btn>
    </div>

    <div v-else>
      <v-btn @click="creationMode = true">Crear Usuario</v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    editMode: {
      default: false,
      type: Boolean,
    },
    userToEdit: {
      type: Object,
    },
  },
  data() {
    return {
      creationMode: false,
      user: {
        id: 999,
        email: "",
        firstName: "",
        lastName: "",
        dateOfBirth: "",
        employeeId: "",
        contract: 1,
      },
    };
  },
  methods: {
    ...mapActions("Users", ["CREATE_USER", "EDIT_USER"]),
    async createUser() {
      this.user.id = +this.user.id;
      this.user.contract = +this.user.contract;

      //Agregados de manera manual para evitar errores en la tabla
      this.user.locationId = [1];
      this.user.positionId = [2];

      await this.CREATE_USER(this.user);
      this.closeForm();
    },
    async editUser() {
      this.user.id = +this.user.id;
      this.user.contract = +this.user.contract;
      await this.EDIT_USER(this.user);
      this.closeForm();
    },
    closeForm() {
      this.creationMode = false;
      this.$emit("close");
      this.user = {
        id: "",
        email: "",
        firstName: "",
        lastName: "",
        dateOfBirth: "",
        employeeId: "",
        contract: "",
      };
    },
  },
  updated() {
    if (this.editMode) {
      this.user = this.userToEdit;
    }
  },
};
</script>

<style></style>
