<template>
  <div
    id="nav"
    class="sticky flex items-center justify-center p-3 space-x-3 bg-blue-500 w-full h-14 text-white"
  >
    <router-link to="/">Home</router-link>
    <router-link :to="{ name: 'Calendar' }">Calendario</router-link>
    <router-link :to="{ name: 'Locations' }">Sucursales</router-link>
    <router-link :to="{ name: 'TurnTemplates' }"
      >Plantillas de turnos</router-link
    >
    <router-link :to="{ name: 'Users' }">Usuarios</router-link>
  </div>
</template>

<script>
export default {};
</script>
