<template>
  <div id="app">
    <TheNavBar />
    <transition name="fadeIn" mode="out-in">
      <router-view class="m-5" />
    </transition>
  </div>
</template>

<script>
import TheNavBar from "./components/TheNavBar.vue";
import { mapActions } from "vuex";
export default {
  components: {
    TheNavBar,
  },
  methods: {
    ...mapActions("Users", ["GET_USERS"]),
    ...mapActions("Locations", ["UPDATE_LOCATIONS"]),
    ...mapActions("Positions", ["UPDATE_POSITIONS"]),
    ...mapActions("Contracts", ["UPDATE_CONTRACTS"]),
    ...mapActions("Turns", ["UPDATE_TURNS"]),
    ...mapActions("TurnTemplates", ["UPDATE_TURN_TEMPLATES"]),
  },
  async created() {
    await this.GET_USERS();
    await this.UPDATE_LOCATIONS();
    await this.UPDATE_POSITIONS();
    await this.UPDATE_CONTRACTS();
    await this.UPDATE_TURNS();
    await this.UPDATE_TURN_TEMPLATES();
  },
};
</script>

<style>
.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: opacity 0.4s;
}
.fadeIn-enter,
.fadeIn-leave-to {
  opacity: 0;
}
</style>
